<?xml version="1.0" ?>
<settings version="2">
	<section id="context.kodi_grail">
		<category id="general" label="30128" help="">
            <group id="1" label="30016">
				<setting id="override_ssdp_settings" type="boolean" label="30017">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
            </group>
            <group id="2" label="30011">
                <setting id="jgip" type="string" label="30004">
                    <level>0</level>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="override_ssdp_settings">true</condition>
						</dependency>
					</dependencies>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <default>0.0.0.0</default>
                    <control type="edit" format="ip">
                        <heading/>
                    </control>
                </setting>
                <setting id="jgport" type="integer" label="30005">
                    <level>0</level>
                    <constraints>
                        <allowempty>false</allowempty>
                    </constraints>
                    <default>0</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="override_ssdp_settings">true</condition>
						</dependency>
					</dependencies>
                    <control type="edit" format="integer">
                        <heading/>
                    </control>
                </setting>
            </group>
        </category>
        <category id="advanced" label="30013" help="">
            <group id="1" label="30015">
				<setting id="debug_mode" type="boolean" label="30014" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
            </group>
        </category>
	</section>
</settings>